header{
    background: linear-gradient(180deg, #db0000, rgba(255, 255, 255, 0));
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    z-index: 1000;
}
body{
    background-image: url("fundo-main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.img-header{
    align-items: center;
    height: 70px; 
    width: 170px;
}


input{
    margin-top: 5px;
}
button {
    margin-top: 5px;
    background-color: #af0000; 
    color: rgb(255, 255, 255);          
    padding: 5px 10px;       
    border: none;             
    border-radius: 5px;      
    cursor: pointer;          
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;          
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #9c0000; 
  }
.consulta{
    margin-top: 70px;
    color: #FFF;
    background-color: rgba(63, 63, 63, 0.61);
    border-radius: 7%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 110px;
    width: 250px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    margin-top: 25px;
    color: #FFF;
    background-color: rgba(63, 63, 63, 0.61);
    border-radius: 4%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-card{
background-image: url(fundo.jpg);
background-size: cover;
background-position: center;
border-radius: 3%;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.336);
border-radius: 10px;
padding-left: 30px;
padding-right: 30px;
padding-top: 30px;
padding-block-end: 0px;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: column; 
    background-color: #FFF;

}


.pikachu{
    float:right;
}