header{
    background: linear-gradient(180deg, #db0000, rgb(255, 255, 255));
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    z-index: 1000;
}

body{
    background-color: black;
}
.img-header{
    align-items: center;
    height: 70px; 
    width: 170px;
}
.consulta{
    left: 0;
    right: 0;
    color: #FFF;
    background-color: rgba(63, 63, 63, 0.61);
    border-radius: 15%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin-top: 200px;
    color: #FFF;
    background-color: rgba(63, 63, 63, 0.61);
    border-radius: 15%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img-card{
background-image: url(fundo.jpg);
background-size: cover;
background-position: center;
border: 3px solid black;
border-radius: 10px;
padding-left: 30px;
padding-right: 30px;
padding-top: 30px;
padding-block-end: 0px;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: column; 
    background-color: #FFF;

}
